<div class="criticos_img container-fluid">
	<div class="row">
		<div class="col">
			<img class="folgui img-responsive" src="../assets/folgui.jpg">
			<p class="folgui_n"><b>Benjamin Folgueras</b></p>
			<p class="folgui_d">Gracias a mis insólitas habilidades de pelea me desfiguraron la cara en una pelea vehemente y después tuve la surte de ser atropellado por un camión y quedar paraplejico. Ahora soy muy feliz con mi trabajo de criticar películas denodadas. Que feliz que soy con mi vida.</p>
		</div>
		<div class="col">
			<img class="juanma img-responsive" src="../assets/juanma.jpg">
			<p class="juanma_n"><b>Juan Manuel Natenson</b></p>
			<p class="juanma_d">La vida me acobijó sin mis piernas, un bajón la verdad porque nadie me invitaba a recreaba deportivamente, asi que en una profunda depresión me amputé los brazos porque estaba aburrido, porque nadie me agasajaba a entetenerme, y ahora veo películas yo solo y mi mamá escribe las críticas que le dicto porque mi vida es un bajón y no tengo piernas ni brazos. Que bajón jajaja.</p>
		</div>
		<div class="col">
			<img class="gary img-responsive" src="../assets/gary.jpeg">
			<p class="gary_n"><b>German Garay</b></p>
			<p class="gary_d">Cuando tenía 9 años leí por primera vez el Manifiesto Comunista y a partir de ahí mi vida cambió drásticamente, ahora descargo mi frustración con el capitalismo feroz a través de críticas inconexas y nimias y breves referencias a la cúspide de nuestro país y el primoroso general. Mi sueño es volver a conseguir una reorganización nacional.</p>
		</div>
	</div>
</div>