.folgui{
  border-radius: 50%;
  height: 175px;
  width: 175px;
  transform: rotate(90deg);
  
}

.juanma{
  border-radius: 50%;
  height: 175px;
  width: 175px;
  transform: rotate(90deg);
}

.gary{
  border-radius: 50%;
  height: 175px;
  width: 175px;
}

.folgui_n{
  font-size: 24px;
  margin-top: 5%;
}

.folgui_d{
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}

.juanma_n{
  font-size: 24px;
  margin-top: 5%;
}

.juanma_d{
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}

.gary_n{
  font-size: 24px;
  margin-top: 5%;
}

.gary_d{
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}