<form #myForm (ngSubmit) = "onsubmit(myForm)" >
  <h1>Añade una PeliculAh...</h1>

  <label class="nombre"><b>Titulo</b></label>
  <input [(ngModel)]="pelicula.titulo" class="nombre_texto form-control" name="titulo" required type="Text" placeholder="Cuál es?">


  <label class="director"><b>Director</b></label>
  <input [(ngModel)]="pelicula.director" class="director_texto form-control" name="director" required placeholder="Quién la dirige?">


  <label class="duracion"><b>Duracion</b></label>
  <input [(ngModel)]="pelicula.duracion" class="duracion_texto form-control" name="duracion" type = "Number" required placeholder="Cuánto Dura?">


  <label class="fecha"><b>Fecha de Salida</b></label>
  <input [(ngModel)]="pelicula.fechaSalida" class="fecha_texto form-control" name="fecha" required type="Date" placeholder="Cuándo salio?">

  <label class="sinopsis"><b>Sinopsis</b></label>
  <textarea [(ngModel)]="pelicula.sinopsis" class="sinopsis_texto form-control" name="sinopsis" required type="text" placeholder="De qué se trata?"></textarea>


  <button type="submit" value="Send Email" class="btn btn-primary mb-2">Agregar</button>
</form>
