h1{
  margin-bottom: 10%;
  font-size: 50px;
  text-align: center;
}
b{
  font-size: 24px;
}
button{
  margin-top: 5%;
  margin-left: 43%;
  font-size: 24px;
}
form{
  width: 600px;
  margin-left: 32%;
  margin-top: 8%;
}
.nombre{
  margin-top: 3%;
}
.director{
  margin-top: 5%;
}
.duracion{
  margin-top: 5%;
}
.fecha{
  margin-top: 5%;
}
.sinopsis{
  margin-top: 5%;
}
