*,*::after,*::before{
  margin: 0;padding: 0;box-sizing: border-box;
}
h1 {
  color: black;
  font-family: Roboto;
  font-size: 250%;
}
h2, h3 {
  color: black;
  font-family: Roboto;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
}

main {
  margin-top: 5%;
}

.links{
  background-color: black;
}

.titulo{
  text-align: center;
  margin-top: 2%;
  font-size: 64px;
}

.criticos_titulo{
  margin-left: 5%;
  margin-top: 2%;
  font-size: 32px;
}

.criticos_img{
  margin-top: 5%;
}

.folgui{
  border-radius: 50%;
  height: 175px;
  width: 175px;
  transform: rotate(90deg);
  
}

.juanma{
  border-radius: 50%;
  height: 175px;
  width: 175px;
  transform: rotate(90deg);
}

.gary{
  border-radius: 50%;
  height: 175px;
  width: 175px;
}

.folgui_n{
  font-size: 24px;
  margin-top: 5%;
}

.folgui_d{
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}

.juanma_n{
  font-size: 24px;
  margin-top: 5%;
}

.juanma_d{
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}

.gary_n{
  font-size: 24px;
  margin-top: 5%;
}

.gary_d{
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}

.recomendados{
  margin-top: 5%;
  margin-left: 5%;
  font-size: 32px;
}

.row{
  text-align: center;
}

.cines{
  margin-top: 3%;
}

.hoyts{
  height:120px;
  width:250px;
}

.showcase{
  margin-top: 2%;
  height:125px;
  width:275px;
}

.multiplex{
  height:120px;
  width:250px;
}
