*,*::after,*::before{
  margin: 0;padding: 0;box-sizing: border-box;
}
h1 {
  color: black;
  font-family: Roboto;
  font-size: 250%;
}
h2, h3 {
  color: black;
  font-family: Roboto;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
}

nav{
  width: 100%;
  height: 60px;

  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

main {
  margin-top: 70px;
}

a{
  color: white;
  font-size: 32px;
}

.links{
  background-color: black;
}

.titulo{
  text-align: center;
  margin-top: 2%;
  font-size: 64px;
}

.criticos_titulo{
  margin-left: 4%;
  font-size: 28px;
}

.criticos_img{
  margin-top: 2%;
}

.general{
  height: 250px;
  width: 250px;
}

.folgui_n{
  font-size: 24px;
  margin-top: 5%;
}

.folgui_d{
  margin-top: 2%;
}

.juanma_n{
  font-size: 24px;
  margin-top: 5%;
}

.juanma_d{
  margin-top: 2%;
}

.gary_n{
  font-size: 24px;
  margin-top: 5%;
}

.gary_d{
  margin-top: 2%;
}

.recomendados{
  margin-top: 3%;
  margin-left: 4%;
  font-size: 28px;
}

.row{
  text-align: center;
}

.hoyts{
  margin-top: 3%;
  height:180px;
  width:350px;
}

.showcase{
  height:225px;
  width:375px;
}

.multiplex{
  height:175px;
  width:350px;
}
