<table class="table">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Director</th>
      <th scope="col">Duracion (m)</th>
      <th scope="col">Fecha de Salida</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let peliculas of peliis">
      <th><button class="btn btn-link" (click)="delPelicula(peliculas.titulo); getPeliculas()" type="submit" onClick="window.location.reload()" ><font size="5">{{peliculas.titulo}}</font></button></th>
      <th class="director align-middle">{{peliculas.director}}</th>
      <th class="duracion align-middle">{{peliculas.duracion}}</th>
      <th class="fecha align-middle">{{peliculas.fechaLanzamiento}}</th>
    </tr>
  </tbody>
</table>
