*,*::after,*::before{
  margin: 0;padding: 0;box-sizing: border-box;
}
thead {
  color: black;
  font-family: Roboto;
  font-size: 150%;
  text-align: center;
}
tbody {
  font-family: Roboto;
  font-size: 120%;
}
table{
  margin-top: 8%;
}
tr button{
	margin-right: 5%;
	background-color: white;
	font-family: Roboto;
	text-decoration:none;
	color: black;
	height: 50px;
	text-align: left;
}
.director{
  text-align: center;
}
.duracion{
  text-align: center;
}
.fecha{
  text-align: center;
}
div{
  visibility: hidden;
}