<nav class="nav nav-fill nav-justified">
  <a class="nav-item nav-link active" [routerLink]="['/Inicio']" [routerLinkActive]="['ubicacion']" id="inicio">Inicio</a>
  <a class="nav-item nav-link active" [routerLink]="['/Peliculas']" [routerLinkActive]="['ubicacion']" id="peliculas">Peliculas</a>
  <a class="nav-item nav-link active" [routerLink]="['/Criticos']" [routerLinkActive]="['ubicacion']" id="criticos">Criticos</a>
  <a class="nav-item nav-link active" [routerLink]="['/addPelicula']" [routerLinkActive]="['ubicacion']" id="addPelicula">addPelicula</a>
</nav>
