*,*::after,*::before{
  margin: 0;padding: 0;box-sizing: border-box;
}
h1 {
  color: black;
  font-family: Roboto;
  font-size: 250%;
}
h2, h3 {
  color: black;
  font-family: Roboto;
  font-weight: lighter;
}

a{
  color: black;
  font-size: 32px;
}

nav{
  width: 100%;
  height: 60px;
  background-color: #59B8FF;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

.ubicacion{
  background-color: #2089D8;
}
